/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4B695F;
    color: #DFFFF4;
}

/* Header Styles */
header {
    background-color: #3B4B46;
    color: #DFFFF4;
    padding: 20px;
    text-align: center;
}

/* Navigation Styles */
nav {
    background-color: #DFFFF4;
    padding: 20px;
    text-align: center;
}

nav h2 {
    color: #3B4B46;
    margin-bottom: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #3B4B46;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: #3B4B46;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
