/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #008855;
    font-weight: bold;
    color: #008855;
}

/* Header Styles */
header {
    background-color: #008855;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

/* Navigation Styles */
nav {
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

nav h2 {
    color: #008855;
    margin-bottom: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    padding-top: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #008855;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: #106B48;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
